<div class="center">
  <form [formGroup]="translationForm" (ngSubmit)="onSubmit(translationForm.value)">
    <div *ngFor="let key of this.translationKeys">
      <label> {{ key }}: </label>
      <div *ngFor="let lang of this.languages">
        <div>
          <label for="{{ lang }}.{{ key }}"> {{ lang }}.{{ key }} </label>
          <input id="{{ lang }}.{{ key }}" type="text" [formControl]="key.lang" />
        </div>
      </div>
    </div>

    <button class="button" type="submit">Save</button>
  </form>
</div>
