<div class="center">
  <!--<div *ngFor="let tKey of this.translationKeys; index as i">-->
  <!--  {{ i }} - {{ tKey }} :-->
  <!--  <div *ngFor="let lang of this.languages">-->
  <!--    {{ lang }} : {{ this.translations[tKey][lang] }}-->
  <!--  </div>-->
  <!--  <hr>-->
  <!--</div>-->

  <form
    [formGroup]="translationForm"
    (ngSubmit)="onSubmit(translationForm.value)"
  >
    <div *ngFor="let key of this.translationKeys">
      <label> {{ key }}: </label>
      <div *ngFor="let lang of this.languages">
        <div>
          <label for="{{ lang }}.{{ key }}"> {{ lang }} </label>
          <input
            id="{{ lang }}.{{ key }}"
            type="text"
            [formControlName]="lang"
          />
        </div>
      </div>
    </div>

    <button class="button" type="submit">Save</button>
  </form>
</div>
